/* Root styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url("../img/bg-img.jpg");
    background-color: #61702b;
    background-repeat: repeat;
    height: 100vh;
    background-size: cover;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
}

p {
    padding: 5px;
}


/* Game Container */
.big-container {
    min-width: 200px;
    width: 350px;
    min-height: 320px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    color: #daa520;
}

.small-container {
    width: 100%;
    min-height: 320px;
    background-color: #13661a;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    color: #daa520;
    border-radius: 10px;
}

.message-container {
    margin: 20px;
}


/* Buttons */
.btn-container {
    margin-top: 30px;
}

.btn {
    padding: 8px;
    border: none;
    border-radius: 2px;
    display: block;
    width: 150px;
    margin: 0 auto;
    margin-top: 5px;
    background: #b8860b;
    color: #13661a;
    font-weight: bold;
    font-size: 15px;
}

.btn:hover {
    background-color: #daa520;
    cursor: pointer;
}


/* Prize */
.prize {
    margin: 15px;
    visibility: hidden;
}


/* Game Rules */
.overlay {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}

.rules-container {
    display: none;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #848b17;
    text-align: justify;
    border-radius: 10px;
    color: #006400;
}

.game-rules {
    padding: 15px;
}

.close-btn {
    text-align: right;
    margin: 10px 15px 10px 0;
    font-size: 18px;
    font-family: cursive;
    cursor: pointer;
    color: #000000;
}

.close-btn:hover {
    color: #000000;
    opacity: 0.3;
}

.rules {
    padding: 0;
    margin: 10px 0;
}

.rules-text-container {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 100px;
    text-align: center;
    color: goldenrod;
    cursor: pointer;
    font-weight: bold;
}


/* Media Queries */
@media  screen and (max-width: 460px) {
    .big-container {
        width: 80%;
    }  
    .rules-container {
        width: 70%;
    }
}
